@model Cartridge.ViewModel.LoginModel
<section class="main">

    <form class="form-4" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <h1 class="auth-header">АВТОРИЗАЦІЯ</h1>
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div class="login">
            <p>
                <div class="input">
                    <label asp-for="Login">Введіть логін</label>
                    <input type="text" asp-for="Login" placeholder="Введіть логін" />
                    <span asp-validation-for="Login" />
                </div>
            </p>
            <p>
                <div class="input">
                    <label asp-for="Password">Введіть пароль</label>
                    <input asp-for="Password" placeholder="Введіть пароль" />
                    <span asp-validation-for="Password" />
                </div>
            </p>
            <p>
                <input type="submit" name="submit" value="Увійти" class="btn btn-outline-dark" />
            </p>
            @if (ViewBag.Error != null)
            {
                @if (ViewBag.Error == "BedLogin")
                {
                    <script>
                        setTimeout(() => alert("Не вірний логін і(або) пароль!"), 500);
                    </script>
                }
            }
        </div>
    </form>
</section>