@model Cartridge.Models.OperationType

@{
    ViewData["Title"] = "Edit";
}

<h1>Зміна типу операції</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Тип операції</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PunktId" class="control-label">Де буде знаходитися</label>
                <select asp-for="PunktId" class="form-control" asp-items="ViewBag.PunktId">
                    <option value="@null">-------</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StanId" class="control-label">Стан катриджу</label>
                <select asp-for="StanId" class="form-control" asp-items="ViewBag.StanId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FillDefCheck" /> По замовчуванню заправлений
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавити" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-secondary">До списку операцій</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
